.home{
    margin-top: 50px;
    margin-left: 20px;
}

.home .NgayDi{
    margin-left: 50px;
}

.home label{
    margin-right: 5px;
}

.home .SanBayDen{
    display: block;
    margin-top: 20px;
}

.home .KetQua{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

.home .KetQua td, th{
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

.home .KetQua tr:nth-child(even) {
    background-color: #943c3c;
    color: wheat;
}

.home > form > input[type="button"] {
    margin: 10px;
    background-color: greenyellow;
    color: rgb(26, 13, 13);
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.KetQua input {
    font-size: 20px;
}

.SoHanhKhach{
    font-size: 20px;
    display: block;
    position: relative;
    left:10px;
}

.SoHanhKhach > label{
    margin-right: 5px;
}

.SoHanhKhach > button{
    font-size: 18px;
    background-color: rgba(0, 102, 255, 0.781);
    color: seashell;
}

.SoHanhKhach > button:hover{
    color: red;
    cursor: pointer;
}

.Information{
    position: relative;
    left:400px;
    border:2px red dotted;
    margin-top: 20px;
    display: block;
    padding: 5px;
    width:fit-content
}

.Information input{
    font-size: larger;
}

#XacNhanMuaVe{
    font-size: 35px;
    position: relative;
    margin-left: 800px;
    margin-top: 25px;
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#XacNhanMuaVe:hover{
    background-color: red;
}

.LamThuTucNhanh {
    display: block;
    margin-top: 10px;
}

#TraCuu{
    margin-left: 10px;
    font-size: 20px;
    background-color: greenyellow;
    border-radius: 5px;
    cursor: pointer;
}

#MuaThemHanhLy{
    margin-left: 10px;
    font-size: 20px;
    background-color: greenyellow;
    border-radius: 5px;
    cursor: pointer;
}

.Flight table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

.Flight table td, th{
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

.Flight table tr:nth-child(even) {
    background-color: #943c3c;
    color: wheat;
}

.Ticket table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

.Ticket table td, th{
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

.Ticket table tr:nth-child(even) {
    background-color: #943c3c;
    color: wheat;
}

.FlightServices {
    position: relative;
    left: 1050px;
}

.FlightServices a {
    text-decoration: none;
    margin: 20px;
    color: rgb(0, 17, 255);
    font-size: 20px;
    font-weight: 500;
}

.FlightServices a:hover {
    color: red;   
}

#promote{
    position: relative;
    left:50px;
    width: 95%;
}

.bookcar{
    margin-top: 20px;
    margin-left: 20px;
}

.bookcar label{
    margin-right: 5px;
}

.bookcar .NoiDen{
    display: block;
    margin-top: 20px;
}

.bookcar .KetQuaDatXe{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 65%;
    margin: auto;
}

.bookcar .KetQuaDatXe td, th{
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

.bookcar .KetQuaDatXe tr:nth-child(n) {
    background-color: #943c3c;
    color: wheat;
}

.bookcar > form > input[type="button"] {
    margin: 10px;
    background-color: greenyellow;
    color: rgb(26, 13, 13);
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.KetQuaDatXe input {
    font-size: 20px;
}

.ThongTinDatXe{
    margin-bottom: 20px;
}

.TraCuuThongTin ol {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.ChuDe {
    font-size: 25px;
    font-weight: 200px;
    color: rgb(0, 19, 128);
}